<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${name}"></title>
</head>
<body>
	<form th:if="${players == null}" th:action="@{/}" method="get">
		<input type="number" th:name="players" />
		<button>Crear juego</button>
	</form>
	<form th:if="${players}" th:action="@{/play}" method="post">
		<div th:each="i: ${#numbers.sequence(1, players)}">
			<label th:text="${'player '.concat(i.toString())}"></label> 
			<input type="text" th:name="${'player'.concat(i.toString())}" />
		</div>
		<button>Crear juego</button>
	</form>
	<div th:replace="components :: home-link"></div>
</body>
</html>